@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body {
    height: 97vh;
    width: 97vw;
}
body{
    background-image: url('pacote-d013/imagens/fundo-madeira.jpg');
    background-size: cover;
    background-attachment: fixed;
}
#principal{
    position: relative;
    height: 95vh;
}
#celular{
    background: url('pacote-d013/imagens/frame-iphone.png') no-repeat;
    height: 627px;
    width: 311px;
    background-size: auto 550px;

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-57%, -59%);
    height: 408px;
    width: 233px;
    background-size: cover;
    
}
